/* ID */
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
    
}


#header{
    position: relative; 
    height: 50px;
    width: 100%;
    background-color: transparent;
    border-bottom: #333333 1px solid;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;

}
#header > * {
    line-height: 50px;
    vertical-align: middle;
}
#HOME {
    background-image: url('../img/asanoha-400px.png');
    background-repeat: repeat;
}

#menu {
    position: fixed;
    padding: 20px;
    top: 200px;
    left: 0px;
    z-index: 1000;
}
#menu-items > li{
  font-family: 'Oswald', sans-serif;;
  font-weight: 700;
  font-size: 3em;
  color: #BBBBBB;
  opacity: 0.5;
  list-style-type: none;
  line-height: 1.4em;
  
  cursor: pointer;
}
#nametag{
    position: absolute;
    top: 175px;
    right: 0px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    
    height: 50px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 10px 10px #AAAAAA;
}
#nametag > * {
    vertical-align: middle;
    line-height: 50px;
}
#sentiment {
    
    
}

#time {
    
}

/* CLASSES */

.jumbo {
    position: relative;
    width: 100%;
    height: 750px; /* Change later */ 
    background-color: white;
    z-index: -1;
}
.alt {
    background-color: #FCFDFF;
}


#chart {
font-family: "Helvetica Neue", Helvetica, sans-serif;
font-size: 14px;
}
#chart path {
fill: none;
}

.time-box {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: 15px solid #3B5998;
    background-color: white;
    height: 100%;
    width: 50%;
    
    box-shadow: 10px 0px 20px #AAAAAA;
}
.carat {
    position: absolute;
    
    
    width: 90px;
    right: -90px;
    top: 200px;
}
.vis-box {
    height: 100%;
    width: 50%;
    display: inline-block;
}

.section-tag {
    position: absolute;
    bottom: 40px;
    right: 20px;
    
    text-align: right; 
    color: #3B5998;
    opacity: 0.5;
    position: absolute;
    
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}


/* layers */
#chart .layer-0 path {
fill: steelblue;
}
#chart .layer-1 path {
fill: white !important;
opacity: 0.3;
stroke-width: 2px;
stroke: #999;
}

/* Outer circle, tick-circles and spokes */
#chart circle.outer {
stroke: #aaa;
stroke-dasharray: 4, 4;
}
#chart .tick-circles circle {
stroke: #ddd;
stroke-dasharray: 2, 2;
}
#chart .spokes line {
stroke: #666;
stroke-width: 0.2;
}

/* Axis */
#chart .axis text {
font-size: 11px;
}
#chart .axis path {
stroke: #999;
shape-rendering: crispEdges;
}
#chart .axis line {
stroke: #999;
shape-rendering: crispEdges;
}

/* Labels */
#chart .labels text {
fill: #333;
font-size: 10px;
font-weight: 500;
}

/* update button */
#update {
width: 100px;
height: 30px;
cursor: pointer;
}