body {
    background-image: url('../img/asanoha-400px.png');
    background-repeat: repeat;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* FIXED ELEMENTS */
#menu {
    position: fixed;
    padding: 5px;
    top: 200px;
    left: 0px;
    z-index: 1000;
}
#menu-items > li {
    font-family: 'Oswald', sans-serif;;
    font-weight: 700;
    font-size: 3em;
    color: #BBBBBB;
    opacity: 0.5;
    list-style-type: none;
    line-height: 1.4em;

    cursor: pointer;
}
#nametag {
    position: fixed;
    top: 100px;
    left: 0px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    
    height: 40px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 10px 10px #AAAAAA;
}
#nametag > * {
    vertical-align: middle;
    line-height: 50px;
}
#header {
    position: fixed;
    top: 0px; 
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: #333333 1px solid;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    z-index: 1000;
}
#header > * {
    line-height: 50px;
    vertical-align: middle;
}
/* END FIXED ELEMENTS */

/* CONTENT OBJECTS */
#content {
    margin-top: 100px;
    margin-right: 20px;
}
.jumbo {
    position: relative;
    width: 100%;
    min-height: 660px;
}
.alt {
    background-color: #FCFDFF;
}
.section-tag {
    width: 100%;
    height: 60px;
    float: right;
    text-align: right;
    color: #3B5998;
    opacity: 0.5;
    
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.chart {
    min-width: 300px;
    min-height: 540px;
    float: right;
}
.radial {
    width: 540px;
    height: 540px;
}

/* BUBBLE VIS */
#info-box {
    position: absolute;
    bottom: 0;
    right: 20px;
    
    fill: white;    
    border: 5px #3B5998 solid;
    border-radius: 10px;
    padding: 20px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;   
}
#BUBBLE-VIS {
    width: 1150px;
    height: 750px;
}

/* END CONTENT OBJECTS */