/* ID */
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#header {
    position: relative; 
    height: 50px;
    width: 100%;
    background-color: transparent;
    border-bottom: #333333 1px solid;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}
#header > * {
    line-height: 50px;
    vertical-align: middle;
}
#HOME {
    background-image: url('../img/asanoha-400px.png');
    background-repeat: repeat;
}
#info-box {
    position: absolute;
    bottom: 0;
    right: 20px;
    
    fill: white;    
    border: 5px #3B5998 solid;
    border-radius: 10px;
    padding: 20px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    
}
#menu {
    position: fixed;
    padding: 5px;
    top: 200px;
    left: 0px;
    z-index: 1000;
}
#menu-items > li {
  font-family: 'Oswald', sans-serif;;
  font-weight: 700;
  font-size: 3em;
  color: #BBBBBB;
  opacity: 0.5;
  list-style-type: none;
  line-height: 1.4em;
  
  cursor: pointer;
}
#nametag {
    position: absolute;
    top: 175px;
    right: 0px;
    
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    
    height: 50px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 10px 10px #AAAAAA;
}
#nametag > * {
    vertical-align: middle;
    line-height: 50px;
}

/* CLASSES */
.jumbo {
    position: relative;
    width: 100%;
    height: 660px;  
    background-color: white;
}
.alt {
    background-color: #FCFDFF;
}

.section-tag {
    width: 100%;
    height: 60px;
    float: left;
    text-align: left;
    color: #3B5998;
    opacity: 0.5;
    
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.chart {
    width: 50%;
    height: 540px;
    display: inline-block;
}

.radial {
    width: 540px;
    height: 540px;
}


